<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>test</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>title</param-name>
		<param-value>Defect Tracking System</param-value>
	</context-param>
	<servlet>
		<description>Login Servlet</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.dts.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegistratorUser</display-name>
		<servlet-name>RegistratorUser</servlet-name>
		<servlet-class>com.dts.servlet.RegistratorUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistratorUser</servlet-name>
		<url-pattern>/registratorUser</url-pattern>
	</servlet-mapping>
</web-app>